<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout:: head"></head>
<meta charset="UTF-8"/>
<body>

	<header th:replace="layout/layout :: header"> </header>
	
	
	<div class="container">
	<h1 class="happyBD text-center mb-2">Feliz Cumpleaños Seryy</h1>
		<div class="row mt-5">
			<div class="col-sm-12 col-md-7 col-lg-7">
				<img class="img-fluid avatar" th:src="@{img/mich.jpg}">				
			</div>						
			<div class="col-sm-12 col-md-5 col-lg-5 top-padding-index ">				
				<p class="txt-index">Página para felicitar a la mejor streamer de latam, le duela a quien le duela, déjale un bonito mensaje dando click <a class="text-white" th:href="@{/mensaje}"> AQUÍ </a> </p>				
			</div>			
		</div>		
	</div>
	<div class= "container mt-5 text-center">		
		<iframe class="video"  src="https://www.youtube.com/embed/S6ZC1Klsl84" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>